IronFist3D.app/
game
/tmp/
.DS_Store
WolfenDoom-master/
game-sounds-main/
dist-win/
vendor/
boss1/
game-sounds-main/
third_party/*
!third_party/Beautiful-Doom
!third_party/DOOM-style-Game
!third_party/bstone
~/.ironfist3d.cfg
