[submodule "third_party/Beautiful-Doom"]
	path = third_party/Beautiful-Doom
	url = https://github.com/jekyllgrim/Beautiful-Doom.git
[submodule "third_party/DOOM-style-Game"]
	path = third_party/DOOM-style-Game
	url = https://github.com/StanislavPetrovV/DOOM-style-Game.git
[submodule "third_party/dungeon-of-quake"]
	path = third_party/dungeon-of-quake
	url = https://github.com/jakubtomsu/dungeon-of-quake.git
